In [1]:
#Import libaries for Google BigQuery
from google.cloud import bigquery
import pandas as pd

In [2]:
# Construct a BigQuery client object, no credentials need to be hard coded because we setup
client = bigquery.Client()

#Query to Pull from Google NCAA Men's Basketball Public Dataset
query = """
     SELECT teams.name,  max(hist.wins) as max_wins
    FROM `bigquery-public-data.ncaa_basketball.mbb_historical_teams_seasons` hist
    left join `bigquery-public-data.ncaa_basketball.mbb_teams` teams on hist.team_id=teams.id
    GROUP BY teams.name
    ORDER BY max_wins DESC
    LIMIT 10
"""

#Pull down as dataframe in memory
df = client.query(query).to_dataframe()
df

              name  max_wins
0           Eagles        39
1             None        38
2         Wildcats        38
3         Jayhawks        37
4      Blue Devils        37
5         Bulldogs        37
6           Rebels        37
7  Fighting Illini        37
8        Tar Heels        36
9          Badgers        36